.navbar-brand{
  color: whitesmoke;
  font-weight: bold;
  font-size: larger;
  font-style: italic;
}


.shadow{
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

a{
  text-decoration: none;
}