<div class="card ">
  <div class="card-header bg-success">Add Event</div>
  <div class="card-body">
    <form *ngIf="eventForm" [formGroup]="eventForm" (ngSubmit)="addEvent()">
      <div class="form-group mb-2">
        <label for="eventName">Event Name:</label>
        <input type="text" class="form-control" formControlName="eventName" placeholder="Event Name"
          [ngClass]="{'is-invalid': submitted && eventForm.get('eventName')?.errors, 'is-valid': submitted && !eventForm.get('eventName')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('eventName')?.errors?.['required']">
          Event Name is required
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="eventDescription">Event Description:</label>
        <input type="text" class="form-control" formControlName="eventDescription" placeholder="Event Description"
          [ngClass]="{'is-invalid': submitted && eventForm.get('eventDescription')?.errors, 'is-valid': submitted && !eventForm.get('eventDescription')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('eventDescription')?.errors?.['required']">
          Event Description is required
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="startDate">Start Date:</label>
        <input type="date" class="form-control" formControlName="startDate" placeholder="Start Date"
          [ngClass]="{'is-invalid': submitted && eventForm.get('startDate')?.errors, 'is-valid': submitted && !eventForm.get('startDate')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('startDate')?.errors?.['required']">
          Start Date is required
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="endDate">End Date:</label>
        <input type="date" class="form-control" formControlName="endDate" placeholder="End Date"
          [ngClass]="{'is-invalid': submitted && eventForm.get('endDate')?.errors, 'is-valid': submitted && !eventForm.get('endDate')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('endDate')?.errors?.['required']">
          End Date is required
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="startTime">Start Time:</label>
        <input type="time" class="form-control" formControlName="startTime" placeholder="Start Time"
          [ngClass]="{'is-invalid': submitted && eventForm.get('startTime')?.errors, 'is-valid': submitted && !eventForm.get('startTime')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('startTime')?.errors?.['required']">
          Start Time is required
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="endTime">endTime:</label>
        <input type="time" class="form-control" formControlName="endTime" placeholder="End Time"
          [ngClass]="{'is-invalid': submitted && eventForm.get('endTime')?.errors, 'is-valid': submitted && !eventForm.get('endTime')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('endTime')?.errors?.['required']">
          End Time is required
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="photo">Photo:</label>
        <input type="image" class="form-control" formControlName="photo" placeholder="Photo"
          [ngClass]="{'is-invalid': submitted && eventForm.get('photo')?.errors, 'is-valid': submitted && !eventForm.get('photo')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('photo')?.errors?.['required']">
          Photo is required
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="price">Price:</label>
        <input type="text" class="form-control" formControlName="price" placeholder="Price"
          [ngClass]="{'is-invalid': submitted && eventForm.get('price')?.errors, 'is-valid': submitted && !eventForm.get('price')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('price')?.errors?.['required']">
          Price is required
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="availableTicketNumber">Available Ticket Number:</label>
        <input type="number" class="form-control" formControlName="availableTicketNumber" placeholder="Available Ticket Number"
          [ngClass]="{'is-invalid': submitted && eventForm.get('availableTicketNumber')?.errors, 'is-valid': submitted && !eventForm.get('availableTicketNumber')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('availableTicketNumber')?.errors?.['required']">
          Available Ticket Number is required
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="eventType">Event Type:</label>
        <input type="text" class="form-control" formControlName="eventType" placeholder="Event Type"
          [ngClass]="{'is-invalid': submitted && eventForm.get('eventType')?.errors, 'is-valid': submitted && !eventForm.get('eventType')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('eventType')?.errors?.['required']">
          Event Type is required
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="location">Location:</label>
        <input type="text" class="form-control" formControlName="location" placeholder="Location"
          [ngClass]="{'is-invalid': submitted && eventForm.get('location')?.errors, 'is-valid': submitted && !eventForm.get('location')?.errors}">
        <div class="d-block invalid-feedback" *ngIf="submitted && eventForm.get('location')?.errors?.['required']">
          Location is required
        </div>
      </div>

      

      <button type="submit" class="btn btn-success mt-2">Add Event</button>
    </form>
  </div>

</div>
