<div class="container-fluid">
  <div class="row">
    <div class="card-group mt-3 col-sm-6 col-md-4 col-lg-3" *ngFor="let event of listEvents">
      <div class="flip-card ">
        <div class="flip-card-inner ">
          <div class="flip-card-front h-100" [routerLink]="['event-details/', event._id]">
            <img class="card-img" [src]="event.photo">
          </div>
          <div class="flip-card-back">
            <div class="card-body">
              <h5 class="card-title mb-5">
                {{event.eventName | titlecase}}
              </h5>
              <p class="card-text">
                <span>Start from: </span> {{event.startDate | date}} {{event.startTime}}</p>
              <p class="card-text"><span>Location: </span>{{event.location | titlecase}}</p>
              <p class="card-text mb-5">{{event.eventType | titlecase}}</p>
              <hr>
              <small class="text-muted">For more details click <a [routerLink]="['event-details/', event._id]">here</a></small>
            </div>  
          </div>
        </div>
      </div>
    </div>

  </div>
</div>