.card{
  border-radius: 10px;
  width: 500px;
  margin: auto;
}

a{
  text-align: center;
}

button{
 width: 350px;
 margin-left: 12px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}