<div class="container  mt-3">
  <h1 class="text-center mb-3">List Companies</h1>

  <div class="d-flex row justify-content-between mb-3">
    <button type="button" class="btn btn-primary col-3" data-bs-toggle="modal" data-bs-target="#ModalAdd">Add
      Company</button>
     
      <input type="search" class="form-control text-start col-4" placeholder="Search by company" style="width:300px"
        [(ngModel)]="searchCompany">
  </div>
  
   <table class="table table-hover table-bordered">
    <thead class="table-success">
      <tr>
        <th class="col-1">No</th>
        <th scope="col">Company Name</th>
        <th scope="col">Description</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Photo</th>
        <th class="col-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of listCompanies | companyFilter: searchCompany; let i=index">
        <td scope="row">{{i+1}}</td>
        <td>{{company.companyName}}</td>
        <td>{{company.companyDescription}}</td>
        <td>{{company.email}}</td>
        <td>{{company.role}}</td>
        <td><img [src]="company.photo" width="50px"></td>
        <td>
          <button type="button" class="btn btn-success" *ngIf="companyConnectedId == company._id && companyConnectedRole == 'Admin'" data-bs-toggle="modal" data-bs-target="#ModalUpd"
            (click)="showCompanyData(company._id)"><span><i class="fa fa-edit text-white"></i></span></button>

            <button type="button" class="btn btn-success" *ngIf="companyConnectedRole == 'Super_Admin'" data-bs-toggle="modal" data-bs-target="#ModalUpd"
        (click)="showCompanyData(company._id)"><span><i class="fa fa-edit text-white"></i></span></button>

          <button type="button" class="btn btn-danger" *ngIf="companyConnectedId !== company._id && companyConnectedRole == 'Super_Admin'" (click)="deleteCompany(company._id)"><span><i
                class="fa fa-trash-alt text-white"></i></span></button>


        </td>
      </tr>
    </tbody>
  </table>

 

  <div class="modal" id="ModalAdd">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Company </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <form *ngIf="companyForm" [formGroup]="companyForm" (ngSubmit)="addCompany()">
            <div class="form-group mb-2">
              <label for="companyName">Company Name:</label>
              <input type="text" class="form-control" formControlName="companyName" placeholder="Company Name"
                [ngClass]="{'is-invalid': submitted && companyForm.get('companyName')?.errors, 'is-valid': submitted && !companyForm.get('companyName')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('companyName')?.errors?.['required']">
                Company Name is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="descriptionName">Description Name:</label>
              <input type="text" class="form-control" formControlName="companyDescription"
                placeholder="Description Name"
                [ngClass]="{'is-invalid': submitted && companyForm.get('companyDescription')?.errors, 'is-valid': submitted && !companyForm.get('companyDescription')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('companyDescription')?.errors?.['required']">
                Description Name is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="email">Email:</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Email"
                [ngClass]="{'is-invalid': submitted && companyForm.get('email')?.errors, 'is-valid': submitted && !companyForm.get('email')?.errors}">
              <div class="d-block invalid-feedback" *ngIf="submitted && companyForm.get('email')?.errors?.['required']">
                Email is required
              </div>
              <div class="d-block invalid-feedback" *ngIf="submitted && companyForm.get('email')?.errors?.['email']">
                Email is invalid
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="password">Password:</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Password"
                [ngClass]="{'is-invalid': submitted && companyForm.get('password')?.errors, 'is-valid': submitted && !companyForm.get('password')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('password')?.errors?.['required']">
                Password is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="role">Role:</label>
              <select class="form-select" formControlName="role" aria-label="Role">
                <option disabled>Select Your Role</option>
                <option value="Admin">Admin</option>
                <option value="Super_Admin">Super Admin</option>
              </select>
            </div>

            <div class="form-group mb-2">
              <label for="photo">Photo:</label>
              <input type="file" (change)="selectImage($event)" accept="image/*">
            </div>
            <img *ngIf="companyForm.value.photo" [src]="companyForm.value.photo" style="height: 50px; width:50px">

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>

        </div>


      </div>
    </div>
  </div>

  <div class="modal" id="ModalUpd">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Company </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <form *ngIf="companyForm" [formGroup]="companyForm" (ngSubmit)="saveChanges()">
            <div class="form-group mb-2">
              <label for="companyName">Company Name:</label>
              <input type="text" class="form-control" formControlName="companyName" placeholder="Company Name"
                [ngClass]="{'is-invalid': submitted && companyForm.get('companyName')?.errors, 'is-valid': submitted && !companyForm.get('companyName')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('companyName')?.errors?.['required']">
                Company Name is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="descriptionName">Description Name:</label>
              <input type="text" class="form-control" formControlName="companyDescription"
                placeholder="Description Name"
                [ngClass]="{'is-invalid': submitted && companyForm.get('companyDescription')?.errors, 'is-valid': submitted && !companyForm.get('companyDescription')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('companyDescription')?.errors?.['required']">
                Description Name is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="email">Email:</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Email"
                [ngClass]="{'is-invalid': submitted && companyForm.get('email')?.errors, 'is-valid': submitted && !companyForm.get('email')?.errors}">
              <div class="d-block invalid-feedback" *ngIf="submitted && companyForm.get('email')?.errors?.['required']">
                Email is required
              </div>
              <div class="d-block invalid-feedback" *ngIf="submitted && companyForm.get('email')?.errors?.['email']">
                Email is invalid
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="password">Password:</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Password"
                [ngClass]="{'is-invalid': submitted && companyForm.get('password')?.errors, 'is-valid': submitted && !companyForm.get('password')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('password')?.errors?.['required']">
                Password is required
              </div>
            </div>

            <div class="form-group mb-2" *ngIf="companyConnectedRole == 'Super_Admin'">
              <label for="role">Role: </label>
              <select class="form-select" formControlName="role" aria-placeholder="Select Your Role">
                <option value="Admin">Admin</option>
                <option value="Super_Admin">Super Admin</option>
              </select>
              <div class="invalid-feedback" *ngIf="submitted && companyForm.get('role')?.errors?.['required']">
                Role is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="photo">Photo:</label>
              <input type="file" (change)="selectImage($event)" accept="image/*">
              <img *ngIf="companyForm.value.photo" [src]="companyForm.value.photo" style="height: 50px; width:50px">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>