<div class="container  mt-3">
  <h3 class="text-center">List Companies</h3>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAdd">Add
    Company</button><br>

    <div class="form-group" id="search">
      <span><i class="fa fa-search"></i></span>
      <input type="search" class="form-control text-start" placeholder="Search by company" style="width:300px" [(ngModel)]="searchCompany">
    </div><br>

  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>Company No</th>
        <th>Company Name</th>
        <th>Company Description</th>
        <th>Email</th>
        <th>Role</th>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of listCompanies | companyFilter: searchCompany; let i=index">
        <td>{{i+1}}</td>
        <td>{{company.companyName}}</td>
        <td>{{company.companyDescription}}</td>
        <td>{{company.email}}</td>
        <td>{{company.role}}</td>
        <td><img [src]="company.photo" width="50px"></td>
        <td>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalUpd"
            (click)="showCompanyData(company._id)">Update</button>
          <button type="button" class="btn btn-danger" (click)="deleteCompany(company._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal" id="ModalAdd">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Company </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <form *ngIf="companyForm" [formGroup]="companyForm" (ngSubmit)="addCompany()">
            <div class="form-group mb-2">
              <label for="companyName">Company Name:</label>
              <input type="text" class="form-control" formControlName="companyName" placeholder="Company Name"
                [ngClass]="{'is-invalid': submitted && companyForm.get('companyName')?.errors, 'is-valid': submitted && !companyForm.get('companyName')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('companyName')?.errors?.['required']">
                Company Name is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="descriptionName">Description Name:</label>
              <input type="text" class="form-control" formControlName="companyDescription"
                placeholder="Description Name"
                [ngClass]="{'is-invalid': submitted && companyForm.get('companyDescription')?.errors, 'is-valid': submitted && !companyForm.get('companyDescription')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('companyDescription')?.errors?.['required']">
                Description Name is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="email">Email:</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Email"
                [ngClass]="{'is-invalid': submitted && companyForm.get('email')?.errors, 'is-valid': submitted && !companyForm.get('email')?.errors}">
              <div class="d-block invalid-feedback" *ngIf="submitted && companyForm.get('email')?.errors?.['required']">
                Email is required
              </div>
              <div class="d-block invalid-feedback" *ngIf="submitted && companyForm.get('email')?.errors?.['email']">
                Email is invalid
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="password">Password:</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Password"
                [ngClass]="{'is-invalid': submitted && companyForm.get('password')?.errors, 'is-valid': submitted && !companyForm.get('password')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('password')?.errors?.['required']">
                Password is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="role">Role:</label>
              <input type="text" class="form-control" formControlName="role" placeholder="Role"
                [ngClass]="{'is-invalid': submitted && companyForm.get('role')?.errors, 'is-valid': submitted && !companyForm.get('role')?.errors}">
              <div class="d-block invalid-feedback" *ngIf="submitted && companyForm.get('role')?.errors?.['required']">
                Role is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="photo">Photo:</label>
              <input type="file" (change)="selectImage($event)" accept="image/*">  
            </div>
            <img *ngIf="companyForm.value.photo" [src]="companyForm.value.photo" style="height: 50px; width:50px">

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>

        </div>


      </div>
    </div>
  </div>

  <div class="modal" id="ModalUpd">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Company </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <form *ngIf="companyForm" [formGroup]="companyForm" (ngSubmit)="saveChanges()">
            <div class="form-group mb-2">
              <label for="companyName">Company Name:</label>
              <input type="text" class="form-control" formControlName="companyName" placeholder="Company Name"
                [ngClass]="{'is-invalid': submitted && companyForm.get('companyName')?.errors, 'is-valid': submitted && !companyForm.get('companyName')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('companyName')?.errors?.['required']">
                Company Name is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="descriptionName">Description Name:</label>
              <input type="text" class="form-control" formControlName="companyDescription"
                placeholder="Description Name"
                [ngClass]="{'is-invalid': submitted && companyForm.get('companyDescription')?.errors, 'is-valid': submitted && !companyForm.get('companyDescription')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('companyDescription')?.errors?.['required']">
                Description Name is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="email">Email:</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Email"
                [ngClass]="{'is-invalid': submitted && companyForm.get('email')?.errors, 'is-valid': submitted && !companyForm.get('email')?.errors}">
              <div class="d-block invalid-feedback" *ngIf="submitted && companyForm.get('email')?.errors?.['required']">
                Email is required
              </div>
              <div class="d-block invalid-feedback" *ngIf="submitted && companyForm.get('email')?.errors?.['email']">
                Email is invalid
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="password">Password:</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Password"
                [ngClass]="{'is-invalid': submitted && companyForm.get('password')?.errors, 'is-valid': submitted && !companyForm.get('password')?.errors}">
              <div class="d-block invalid-feedback"
                *ngIf="submitted && companyForm.get('password')?.errors?.['required']">
                Password is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="role">Role</label>
              <select>
                <option value="admin">Admin</option>
                <option value="superAdmin">Super Admin</option>
              </select>
              
              <!-- <input type="text" class="form-control" formControlName="role" placeholder="Role"
                [ngClass]="{'is-invalid': submitted && companyForm.get('role')?.errors, 'is-valid': submitted && !companyForm.get('role')?.errors}"> -->
              <div class="d-block invalid-feedback" *ngIf="submitted && companyForm.get('role')?.errors?.['required']">
                Role is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="photo">Photo:</label>
              <input type="file" (change)="selectImage($event)" accept="image/*">
              <img *ngIf="companyForm.value.photo" [src]="companyForm.value.photo" style="height: 50px; width:50px">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>