<div class="card container mt-5">
  <div class="card-header">
    Please write your new password and confirm it.
  </div>
  <form *ngIf="resetForm" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password"
        [ngClass]="{'is-valid': submitted && !resetForm.get('password')?.errors, 'is-invalid': submitted && resetForm.get('password')?.errors}">
      <div class="d-block invalid-feedback" *ngIf="submitted && resetForm.get('password')?.errors?.['required']">
        Password is required.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirmation Password:</label>
      <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirmation Password"
        [ngClass]="{'is-valid': submitted && !resetForm.get('confirmPassword')?.errors, 'is-invalid': submitted && resetForm.get('confirmPassword')?.errors}">
      <div class="d-block invalid-feedback" *ngIf="submitted && resetForm.get('confirmPassword')?.errors?.['required']">
        Confirmation Password is required.
      </div>
    </div>

    <button type="submit" class="btn btn-success mt-2">Reset Password</button>

  </form>
</div>