.container {
  margin-left: 200px;
 
}

.card {
  margin-top: 100px;
  box-shadow: 10px 10px 15px gray;
}

img {
  height: 100%;
}

h3 {
  font-weight: bolder;
  font-style: italic;
}

p {
  font-weight: 600;
  font-size: large;
}

.btn{
color: aliceblue;
font-size: larger;
display: block;
float: right;
}