<div class="container mt-5">
  <div class="card mb-3 col-10">
    <div class="row">
      <div class="col-md-4">
        <img [src]="event.photo" alt="event" class="img-fluid rounded-start" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{event.eventName | titlecase}}</h3>
          <p class="card-text">{{event.eventDescription | titlecase}}</p>
          <p class="card-text">From: {{event.startDate | date}} {{event.startTime}} to: {{event.endDate | date}} {{event.endTime}}
          </p>
          <p class="card-text">Tickets:
            <span *ngIf="event.availableTicketNumber !== 0"> {{event.availableTicketNumber}}</span>
            <span *ngIf="event.availableTicketNumber == 0">All tickets were sold!</span>
          </p>
          <p class="card-text">Location: {{event.location | titlecase}}</p>

          <div *ngIf="event.availableTicketNumber !== 0">
            <span *ngIf="event.eventType == 'free'" class="badge bg-primary">
              Free
            </span>
            <span *ngIf="event.eventType == 'paid'" class="badge bg-success">
              {{event.price | currency: 'EUR'}}
            </span>
            <hr>
          </div>

          <button class="btn btn-success col-4 mb-2" type="button" *ngIf="event.availableTicketNumber !== 0"
            [routerLink]="['reservation']">Reservation</button>

        </div>
      </div>
    </div>
  </div>