<div class="container mt-5">
  <div class="card mb-3 col-10">
    <div class="row">
      <div class="col-md-4">
        <img [src]="event.photo" alt="event" class="img-fluid rounded-start" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{event.eventName}}</h3>
          <p class="card-text">Description: {{event.eventDescription}}</p>
          <p class="card-text">From {{event.startDate}} {{event.startTime}} to {{event.endDate}} {{event.endTime}}
          </p>
          <p class="card-text">Tickets: {{event.availableTicketNumber}}</p>
          <p class="card-text">Location: {{event.location}}</p>

          <span *ngIf="event.eventType == 'free'" class="badge bg-primary">
            Free
          </span>
          <span *ngIf="event.eventType == 'paid'" class="badge bg-success">
            {{event.price | currency: 'EUR'}}
          </span>
          <hr>

          <button class="btn btn-success col-4 mb-2" type="button"
              [routerLink]="['events/reservation/', event._id]">Reservation</button>

        </div>
      </div>
    </div>
  </div>